body {
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fafafa;
  background-image: radial-gradient(#e6e6e6 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
